<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Template:</b>
  <%= @page.template %>
</p>

<p>
  <b>Content:</b>
  <%= raw Liquid::Template.parse(@page.content).render('agency' => @current_agency) %>
</p>
